<div class="main-container">

        
    <nav class="subnav">
        ...
    </nav>
    <div class="content-container">
        <div class="content-area">
            <h5>Les dernières annonces..</h5>
            <div class="clr-row" >
                <div class="clr-col-12 clr-col-sm-4" *ngFor="let annonce of annonces">
                    <div class="card">
                        <div class="card-block">
                            <div class="progress top">
                                <progress value="..." max="100"></progress>
                            </div>
                            <h4 class="card-title">{{annonce.title}}</h4>
                                <p class="card-text">{{annonce.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="..." class="card-link">Postuler</a>
                        </div>
                    </div>
                    </div>
                </div>

                <h5>Les Ressources..</h5>
                <clr-accordion> 
                        <clr-accordion-panel>
                          <clr-accordion-title>Bourse</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
                        </clr-accordion-panel>
                      
                        <clr-accordion-panel>
                          <clr-accordion-title>Item 2</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
                        </clr-accordion-panel>
                      
                        <clr-accordion-panel>
                          <clr-accordion-title>Item 3</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
                        </clr-accordion-panel>
                      </clr-accordion>
            </div>
        </div>
        <nav class="sidenav">
            ...
        </nav>
    </div>
