<div class="login-wrapper">
    <form class="login" [formGroup]="form" (submit)="connexion()">
        <section class="title">
            <h3 class="welcome"></h3>
            Bienvenue
            <h5 class="hint">Veuillez vous identifiez</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="email" clrInput placeholder="Email" formControlName="email" value="Sadokmhiri@gmail.com"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Mot de passe</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password" value="12345678"/>
            </clr-password-container>
            
            <!-- <div class="error active">
                Invalid user name or password
            </div> -->
            <button type="submit" class="btn btn-primary">Se connecter</button>
            <a [routerLink]="inscription" class="signup">Mot de passe oublié ?</a>
        </div>
    </form>
</div>