<div class="login-wrapper">
    <form class="login" [formGroup]="form" (submit)="inscription()">
        <section class="title">
            <h3 class="welcome"></h3>
            Bienvenue
            <h5 class="hint">Rejoingez-nous</h5>
        </section>
        <div class="login-group">
                <clr-input-container>
                        <label class="clr-sr-only">Matricule</label>
                        <input type="text" name="mat" clrInput placeholder="Matricule" formControlName="matricule"/>
                    </clr-input-container>
                    
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="email" clrInput placeholder="Email" formControlName="email"/>
            </clr-input-container>
            <clr-input-container>
                    <label class="clr-sr-only">Nom</label>
                    <input type="text" name="nom" clrInput placeholder="Nom" formControlName="nom"/>
                </clr-input-container>
                <clr-input-container>
                        <label class="clr-sr-only">Prenom</label>
                        <input type="text" name="prenom" clrInput placeholder="Prenom" formControlName="prenom"/>
                    </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>
            
            <!-- <div class="error active">
                Invalid user name or password
            </div> -->
            <button type="submit" class="btn btn-primary">S'inscrire</button>
            <a [routerLink]="connexion" class="signup">Vous avez déjà un compte ? Connectez-vous</a>
        </div>
    </form>
</div>