<header class="header-6">
        <div class="branding">
                <clr-icon shape="users"></clr-icon>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Accueil</a>
            <a href="javascript://" class="nav-link nav-text">Forum</a>
        </div>
        <div class="header-actions">
                <a href="..." class="nav-link nav-text">
                        Postuler
                    </a>
                    
                <clr-dropdown>
                    <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                        <clr-icon shape="cog"></clr-icon>
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                        <a  clrDropdownItem>{{utilisateur.prenom + utilisateur.nom}}</a>
                        <a  clrDropdownItem>{{utilisateur.email}}</a>
                        <a (click)="deconnexion()" clrDropdownItem>Déconnexion</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
    </header>