<div class="">
        <div class="card-block">
           
            <div class="card-media-block wrap">
                <img class="card-media-image" src="//placehold.it/60x60" />
                <div class="card-media-description">
                    <div><clr-icon shape="bar-code"></clr-icon><span class="card-media-title"><strong> Matricule: </strong> 22FC55LKM</span></div>
                    <div><clr-icon shape="user"></clr-icon><span class="card-media-text"><strong>Nom et prénom: </strong> Sadok Mourad Mhiri</span></div>
                    <div><clr-icon shape="envelope"></clr-icon><span class="card-media-text"><strong>Email: </strong> Sadokmhiri@gmail.com</span></div>
                    <div><clr-icon shape="flag"></clr-icon> <span class="card-media-text"><strong> Nationalité: </strong> Tunisienne</span></div>
                </div>
            </div>
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline card-link">Modifier mes informations</button>
        </div>
    </div>