<clr-wizard #wizard [(clrWizardOpen)]="_open">
        <clr-wizard-title>Aidez-nous à trouver les informations nécessaires</clr-wizard-title>
    
        <clr-wizard-button [type]="'previous'">Retourner</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Suivant</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="envoyerDonnees()" >Terminer</clr-wizard-button>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>A propos de vous</ng-template>
            <ng-template clrPageNavTitle>Etape 1</ng-template>
            <form clrForm [formGroup]="form">
                    <input clrInput placeholder="Nationalité" name="input" formControlName="nationalite" />
                    <input clrInput placeholder="Sexe" name="input" formControlName="sexe" />
                  </form>
            
        </clr-wizard-page>
    
        <clr-wizard-page >
            <ng-template clrPageTitle>Informations professionnelles</ng-template>
            <ng-template clrPageNavTitle>Etape 2</ng-template>
            <form [formGroup]="formCv">
                <button type="button" class="btn btn-outline" (click)="filePicker.click()">Currucium Vitae(CV)</button>
            <input clrInput #filePicker placeholder="CV (Currcuim Vitae)" type="file" (change)="fileChange($event)" name="file" />
        </form>
        </clr-wizard-page>
    
        
    </clr-wizard>